<%- include('header'); %>
<%- include('navbar') %>

<div class="container my-5">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h1 class="text-center mb-4">About Stacks of Wax</h1>
      <p>
        Stacks of Wax is a music streaming platform that provides access to millions of songs across different genres. Our mission is to make music accessible to everyone, everywhere.
      </p>
      <p>
        We offer a range of features, including personalized playlists, recommendations, and the ability to create your own playlists. Our platform is available on multiple devices, including mobile, desktop, and smart speakers.
      </p>
      <p>
        We are constantly working to improve our platform and add new features to enhance the user experience. Thank you for choosing Stacks of Wax as your music streaming destination.
      </p>
    </div>
  </div>
</div>

<%- include('bottombar'); %>
