<!--Guest services for the homepage with three service items displayed as cards, with routes to Discovery, Pricing, and Sign Up pages-->

<!--Discovery page with limited results-->
<div class="col-lg-4 col-sm-6">
  <!-- Link to the Discovery page -->
  <a href="/discover">
    <div class="service card-effect">
      <div class="iconbox">
        <!-- Icon for the Discovery page from -->
        <i class="fa-solid fa-eye"></i>
      </div>
      <h5 class="mt-4 mb-2">Discover</h5>
      <p>Bio and discography</p>
    </div>
  </a>
</div>

<!-- Pricing -->
<div class="col-lg-4 col-sm-6">
  <a href="/pricing">
    <div class="service card-effect">
      <div class="iconbox">
                <!-- Icon for the pricing page from -->
        <i class="fa-solid fa-money-bill"></i>
      </div>
      <h5 class="mt-4 mb-2">Pricing</h5>
      <p>See our subscription plans</p>
    </div>
  </a>
</div>
<!-- Sign up -->
<div class="col-lg-4 col-sm-6">
  <a href="/register">
    <div class="service card-effect">
      <div class="iconbox">
                <!-- Icon for the register page from -->
        <i class="fa-solid fa-right-to-bracket"></i>
      </div>
      <h5 class="mt-4 mb-2">Sign up</h5>
      <p>Create an account</p>
    </div>
  </a>
</div>
