<!-- Include your service items for guests -->

<!--Discovery page with limited results-->
<div class="col-lg-4 col-sm-6">
  <a href="/discover">
    <div class="service card-effect">
      <div class="iconbox">
        <i class="fa-solid fa-circle-play"></i>
      </div>
      <h5 class="mt-4 mb-2">Discover</h5>
      <p>Bio and discography</p>
    </div>
  </a>
</div>

<!-- Pricing -->
<div class="col-lg-4 col-sm-6">
  <a href="/pricing">
    <div class="service card-effect">
      <div class="iconbox">
        <i class="fa-solid fa-circle-play"></i>
      </div>
      <h5 class="mt-4 mb-2">Pricing</h5>
      <p>See our subscription plans</p>
    </div>
  </a>
</div>
<!-- Sign up -->
<div class="col-lg-4 col-sm-6">
  <a href="/register">
    <div class="service card-effect">
      <div class="iconbox">
        <i class="fa-solid fa-circle-play"></i>
      </div>
      <h5 class="mt-4 mb-2">Sign up</h5>
      <p>Create an account</p>
    </div>
  </a>
</div>
