<!-- Logged in services EJS. If the users are authenticated these services are displayed on the index file -->

<!-- Discovery page with full list of records -->
<div class="row g-4">
  <!--Column for service takes up 4 / 12 columns in large screen and 6/12 on small screens-->
  <div class="col-lg-4 col-sm-6">
    <!--Link to discover route-->
    <a href="/discover">
      <!--Service and card-effect are bootstrap for styling. bounceInUp is used to add boucning effect to move the card up and down when hoovering -->
      <div class="service card-effect bounceInUp">
        <!--Icon for service-->
        <div class="iconbox">
          <i class="fa-solid fa-eye"></i>
        </div>
        <h5 class="mt-4 mb-2">Discover</h5>
        <p>Find new music</p>
      </div>
    </a>
  </div>

  <!--Playlist page for the user-->
  <div class="col-lg-4 col-sm-6">
    <a href="/myplaylist">
      <div class="service card-effect">
        <div class="iconbox">
          <i class="fas fa-music"></i>
        </div>
        <h5 class="mt-4 mb-2">My Playlist</h5>
        <p>Browse and listen</p>
      </div>
    </a>
  </div>

  <!--Collections of all users-->
  <div class="col-lg-4 col-sm-6">
    <a href="/collections">
      <div class="service card-effect">
        <div class="iconbox">
          <i class="fas fa-box-open"></i>
        </div>
        <h5 class="mt-4 mb-2">Collections</h5>
        <p>Browse other user's collections</p>
      </div>
    </a>
  </div>
  <!--Pricing page-->
  <div class="col-lg-6 col-sm-6">
    <a href="/pricing">
      <div class="service card-effect">
        <div class="iconbox">
          <i class="fa-solid fa-money-bill"></i>
        </div>
        <h5 class="mt-4 mb-2">Pricing</h5>
        <p>See our subscription plans</p>
      </div>
    </a>
  </div>
  <!--Account page for users-->
  <div class="col-lg-6 col-sm-6">
    <a href="/account">
      <div class="service card-effect">
        <div class="iconbox">
          <i class="fas fa-user-circle"></i>
        </div>
        <h5 class="mt-4 mb-2">Your Account</h5>
        <p>Check out your account</p>
      </div>
    </a>
  </div>
</div>
