<!-- Include your existing service items for logged-in users -->

<!-- Your Account -->
<div class="row g-4">
  <div class="col-lg-4 col-sm-6">
    <a href="/">
      <div class="service card-effect bounceInUp">
        <div class="iconbox">
          <i class="fa-solid fa-circle-play"></i>
        </div>
        <h5 class="mt-4 mb-2">Liked Songs</h5>
        <p>Your favourite tracks</p>
      </div>
    </a>
  </div>
  <div class="col-lg-4 col-sm-6">
    <a href="/">
      <div class="service card-effect">
        <div class="iconbox">
          <i class="fa-solid fa-circle-play"></i>
        </div>
        <h5 class="mt-4 mb-2">Playlists</h5>
        <p>Curated collections of songs</p>
      </div>
    </a>
  </div>
  <div class="col-lg-4 col-sm-6">
    <a href="/discover">
      <div class="service card-effect">
        <div class="iconbox">
          <i class="fa-solid fa-circle-play"></i>
        </div>
        <h5 class="mt-4 mb-2">Discover</h5>
        <p>Bio and discography</p>
      </div>
    </a>
  </div>
  <div class="col-lg-4 col-sm-6">
    <a href="/">
      <div class="service card-effect">
        <div class="iconbox">
          <i class="fa-solid fa-circle-play"></i>
        </div>
        <h5 class="mt-4 mb-2">Albums</h5>
        <p>Browse and listen</p>
      </div>
    </a>
  </div>
  <div class="col-lg-4 col-sm-6">
    <a href="/pricing">
      <div class="service card-effect">
        <div class="iconbox">
          <i class="fa-solid fa-circle-play"></i>
        </div>
        <h5 class="mt-4 mb-2">Pricing</h5>
        <p>See our subscription plans</p>
      </div>
    </a>
  </div>
  <div class="col-lg-4 col-sm-6">
    <a href="/account">
      <div class="service card-effect">
        <div class="iconbox">
          <i class="fa-solid fa-circle-play"></i>
        </div>
        <h5 class="mt-4 mb-2">Your Account</h5>
        <p>Check out your account</p>
      </div>
    </a>
  </div>
</div>
