<!--EJS file for login.ejs file. This is where users can enter their email and password. These details are authenticated by checking the database, decrypting the password. if details do not match then and error message is displayed-->
<!--header.ejs partial with bodyClass parameter passed in so the log-in page implements bootstrap login page format-->
<!--Both Header and Navbar template derivatives in the EJS template for this page. These are rendered in conjunction with current ejs template. -->
<%- include('header', {bodyClass: 'login-bg'}) %> 
<%- include('navbar') %>

<!--Login container start-->
<!--form-contianer helps wrap the login form -->
<!--Use container-fluid for a full width container, spanning the entire width of the viewport.-->
<!--login-register-form: a custom class name used in the CSS code to apply styles specific to the login and register forms.-->
<div class="form-container container-fluid login-register-form">
  <!--header with bootstrap-->
  <h1 class="login-title">Login Form</h1>
  <!--create the horizontal rows for bootstrap grid system-->
  <div class="row">
    <!--Determine grid size depending on screen size, medium, small and extra small respectively-->
    <div class="col-md-4 col-sm-4 col-xs-12"></div>
    <!--div that holds the actual login form-->
    <div class="col-md-4 col-sm-4 col-xs-12">
      <!-- Error message - if there is an error message variable defined an alert will be displayed in a bootstrap alert component-->
      <% if (typeof errorMessage !== 'undefined') { %>
      <div class="alert alert-danger" role="alert"><%= errorMessage %></div>
      <% } %>
      <!--form element which will execute a POST action using route /login to send user info to the server-->
      <form action="/login" method="POST">
        <!--Email form-->
        <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <!--Type used to make sure user enters proper email with @. Class to be used for CSS.Placeholder - what the users sees before entering any info. Name used to identify the element when it is submitted-->
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            name="email"
          />
        </div>
        <!--Email form - end-->
        <!--Password form - start-->
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Password"
            name="password"
          />
        </div>
        <!--Password form - end-->
        <!--submit element, has type submit atribute therefore when this button is clicked, it will submit the form to the server.-->
        <button
          type="submit"
          class="btn btn-outline-success btn-block login-register-button"
        >
          Submit
        </button>
      </form>
      <!--End of submit button-->
      <!--form end -->
      <!--Join Us and Browse buttons to take you to the register page or browse as an unautheticated user-->
      <div class="mt-3 d-flex justify-content-around">
        <a href="/register" class="btn btn-primary">Join Us</a>
        <a href="/" class="btn btn-primary">Browse</a>
      </div>
    </div>
  </div>
</div>
<!--Login container End-->

<!--Bottom bar-->
<%- include('bottombar') %>
