<!--Pricing EJS file. This is a simple static file with little functionality. This could be further developed in later iterations-->
<!--Header and Navbar template derivatives in the EJS template for this page. These are rendered in conjunction with current ejs template. -->
<%- include('header', {bodyClass: ''}) %> 
<%- include('navbar') %>

<!--Pricing table container-->
<div class="container" id="pricing-table">
  <div class="row mt-4">
    <div class="col-lg-6 mx-auto">
       <!--bootstrap card effect used for design of pricing table-->
      <div class="card card-effect">
        <div class="card-body">
          <h4 class="card-title mb-4 text-center">Pricing</h4>
          <div class="row">
                <!--First column for basic plan-->
            <div class="col-6">
              <p class="fw-bold text-center">Basic Package</p>
              <p class="text-center">Free</p>
              <p class="text-center">
                Register account and create your own playlist
              </p>
            </div>
            <!--End of basic pricing section-->
            <!--Premium pricing section-->
            <div class="col-6">
              <p class="fw-bold text-center">Premium Package</p>
              <p class="text-center">£9.99 per month</p>
              <p class="text-center">
                Get a free vinyl delivered to your home every month
              </p>
            </div>
            <!--End of premium pricing section-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End of Pricing table container-->

<!--Bottom bar template derivative in the EJS template for this page. This is rendered in conjunction with current ejs template. -->
<%- include('bottombar') %>
