<!--Privacy EJS file. This is a simple static web page to describe privacy policy. It generalistic of a normal website-->
<!--Header and Navbar template derivatives in the EJS template for this page. These are rendered in conjunction with current ejs template. -->
<%- include('header', {bodyClass: ''}) %> <%- include('navbar') %>

<!-- privacy policy container-->
<section id="privacy-policy" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!--Heading-->
        <h2>Privacy Policy</h2>
        <p>
          We take your privacy seriously and are committed to protecting your
          personal information. This privacy policy describes how we collect,
          use, and protect the personal information of our users.
        </p>
        <!--Heading end-->

        <!--Privacy statements-->
        <h4>Information We Collect</h4>
        <p>
          We collect personal information when you register on our site,
          subscribe to our newsletter, or fill out a form. The information we
          collect may include your name, email address, and other contact
          details.
        </p>
        <h4>How We Use Your Information</h4>
        <p>
          We use your personal information to provide you with the products and
          services you have requested, to communicate with you, and to improve
          our services. We may also use your information to send you promotional
          emails or newsletters.
        </p>
        <h4>How We Protect Your Information</h4>
        <p>
          We store your personal information in secure servers that are
          protected from unauthorized access, use, or disclosure. We also use
          SSL encryption to protect your information when it is transmitted over
          the internet.
        </p>
        <h4>Sharing Your Information</h4>
        <p>
          We do not sell or rent your personal information to third parties.
          However, we may share your information with our service providers or
          business partners who help us provide our services or process your
          payments.
        </p>
        <h4>Your Rights</h4>
        <p>
          You have the right to access, update, or delete your personal
          information at any time. You can also opt-out of receiving promotional
          emails or newsletters.
        </p>
        <h4>Contact Us</h4>
        <p>
          If you have any questions or concerns about our privacy policy, please
          contact us at privacy@stacksofwax.com.
        </p>
        <!--Privacy statements end-->
      </div>
    </div>
  </div>
</section>
<!-- end privacy policy -->

<!--Bottom bar template derivative in the EJS template for this page. This is rendered in conjunction with current ejs template. -->
<%- include('bottombar'); %>
