<!--Reviews partial EJS file. This is used on the main homepage for users to get reviews of what other customers have said about stacksofwax. This is a static file with little functionality.-->

<!--bootstrap container for the reviews-->
<div class="container my-5">
  <!--row and column layout for review section-->
  <div class="row">
    <div class="col-md-8 mx-auto">
      <!--User reviews heading - text centralised-->
      <h1 class="text-center mb-4">User Reviews</h1>

      <!--First review-->
      <!--bootstrap element which will conatin the first review. Has a margin of 3 between each review-->
      <div class="card mb-3">
        <!--This creates a Bootstrap row and column layout for each individual review. The left column contains an image of the user and the right column contains the review content.-->
        <div class="row g-0">
          <div class="col-md-4">
            <img url="https://st.focusedcollection.com/13397678/i/650/focused_167686850-stock-photo-portrait-man-smiling-outdoors.jpg" alt="User Image" class="img-fluid" />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <!--provide the title for the review-->
              <h5 class="card-title">John Doe</h5>
              <!--provide the information containing text about the review-->
              <p class="card-text">
                "Stacks of Wax is the best music streaming platform out there. I love the wide range of songs available and the ability to create my own playlists."
              </p>
            </div>
          </div>
        </div>
      </div>

       <!--Second review-->
      <!--bootstrap element which will conatin the second review. Has a margin of 3 between each review-->
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img url="https://i0.wp.com/post.healthline.com/wp-content/uploads/2019/08/woman-portrait-smile-dimples-1296x728-body2-affiliative-1296x728.jpg?w=1155&h=1528" alt="User Image" class="img-fluid" />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Jane Smith</h5>
              <p class="card-text">
                "I've been using Stacks of Wax for a year now and it's definitely my go-to music streaming service. The app is easy to use and I love being able to discover new artists and songs."
              </p>
            </div>
          </div>
        </div>
      </div>

       <!--Third review-->
      <!--bootstrap element which will conatin the second third. Has a margin of 3 between each review-->
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img url="https://media-cldnry.s-nbcnews.com/image/upload/t_fit-1240w,f_auto,q_auto:best/newscms/2021_07/2233721/171120-smile-stock-njs-333p.jpg" alt="User Image" class="img-fluid" />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Mark Johnson</h5>
              <p class="card-text">
                "I've tried a few different music streaming services but Stacks of Wax is by far the best. The sound quality is great and I love the option to download songs for offline listening."
              </p>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>

<!--End of bootstrap container for the reviews-->


