
<%- include('header') %>
<%- include('navbar') %>

<div class="container my-5">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h1 class="text-center mb-4">Terms and Conditions</h1>
      <p>
        By using Stacks of Wax, you agree to the following terms and conditions:
      </p>
      <ul>
        <li>Stacks of Wax is for personal, non-commercial use only. You may not use our platform for commercial purposes without our prior written consent.</li>
        <li>You must be at least 13 years old to use Stacks of Wax.</li>
        <li>You are responsible for maintaining the security of your account login information.</li>
        <li>We reserve the right to terminate or suspend your account if we suspect any unauthorized use or if you violate our terms and conditions.</li>
        <li>Our platform may contain links to third-party websites, which we do not endorse or control. We are not responsible for the content or privacy policies of these websites.</li>
        <li>We may modify these terms and conditions at any time. Your continued use of Stacks of Wax after such modifications will constitute your agreement to the modified terms.</li>
      </ul>
    </div>
  </div>
</div>

<%- include('bottombar'); %>
